/* Import Material Design 3 CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

.project-image {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    transition: transform 0.3s ease;
    width: 20%;
    height: 20%;
    padding-left: 1%;
    float: left;
}

.project-image-left {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    transition: transform 0.3s ease;
    width: 20%;
    height: 20%;
    padding-left: 1px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.project-image-right {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    transition: transform 0.3s ease;
    width: 20%;
    height: 20%;
    padding-left: 1px;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.project-image-center {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    transition: transform 0.3s ease;
    width: 20%;
    height: 20%;
    padding-left: 1px;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.header-content h1 {
    margin: 0;
    font-size: 8rem;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.header-content h2 {
    margin: 0;
    font-size: 2.5rem;
    transition: font-size 0.3s ease, transform 0.3s ease;
}

.header-content h3 {
    margin: 0;
    font-size: 1.3rem;
    transition: font-size 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.scroll-arrow svg {
    fill: #fff;
    width: 30px;
    height: 30px;
    transition: fill 0.3s ease;
}

.scroll-arrow:hover {
    background-color: #fff;
}

.scroll-arrow:hover svg {
    fill: #000;
}

.scroll-arrow {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

main {
    flex: 1;
    padding: 2rem;
}

.projects, .blog {
    padding: 2rem;
    border-radius: 12px;
    background-color: #121212;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.portfolio {
    padding: 2rem;
    border-radius: 12px;
    background-color: #121212;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.project-list, .blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-card, .blog-card {
    background-color: #1f1f1f;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    flex: 1 1 calc(33.333% - 1rem);
    text-align: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}



.project-card:hover .bg-image, .blog-card:hover .bg-image {
    transform: scale(1.1);
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    transition: transform 0.3s ease;
}

.project-card:hover .bg-image {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #121212;
    border-top: 1px solid #333;
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.footer-buttons {
    margin-top: 1rem;
    font-family: 'Roboto Mono', monospace;
}

.footer-buttons button {
    background-color: #1f1f1f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin: 0 0.5rem;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.button {
    font-family: 'Roboto Mono', monospace;
}

.footer-buttons button:hover {
    background-color: #333;
}

/* Transition Effect */
header.scrolled .header-content h1 {
    font-size: 2rem;
    transform: translateY(-50px);
}
header.scrolled .header-content h2 {
    font-size: 2rem;
    transform: translateY(+400px);
}
header.scrolled .header-content h3 {
    opacity: 60%;
    font-size: 0.9rem;
    transform: translateY(+410px);
}

body.scrolled footer {
    display: block;
}

main {
    padding-bottom: 10rem;
}

footer {
    display: none;
    width: 100%;
    bottom: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .header-content h1 {
        font-size: 4rem;
    }
    .project-card {
        flex: 1 1 calc(100% - 1rem);
    }
}


.blog-post {

    padding: 2rem;

    border-radius: 12px;

    background-color: #121212;

    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);

    margin-bottom: 2rem;

}

.disclaimer {
    color: darkgoldenrod;
}